# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Tt]est[Rr]esult*/
_n_/
[Tt]est[Rr]esults/

# Visual Studio files
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.ide.*

# Rider files
.idea/

# Resharper files
_ReSharper*/

# NuGet
packages/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.ide.*

# Ignore all subfolders
**/bin/
**/obj/

# SQLite database files and their auxiliar files
*.sqlite
*.sqlite-shm
*.sqlite-wal
